.list-items{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}